<div class="row">
  <div class="col-sm-9">
    <h1 class="page-header">手相鑑定</h1>
    <form method="post" action=<%= result_path %>>
	旅行先：<input type="text" name="dest" /><br />
      <div class="btn-group" data-toggle="buttons">
        <% [ '感情線', '生命線', '頭脳線' ].each do |radio| %>
	  <label class="btn btn-info">
	  <%= radio_button_tag 'radio', radio, @radio == radio, class:'btn btn-info' %>
          <%= radio %>
	  </label>
	<% end %>
      </div>
      <br>
      <div class="btn-group" data-toggle="buttons">
        <% [ '唐突な恋愛', '落ち着いた恋愛', '消極的な恋愛' ].each_with_index do |chk,i| %>
	  <label class="btn btn-info">
	  <%= check_box_tag 'chk[' + i.to_s + ']', true, false, {} %>
          <%= chk %>
	  </label>
	<% end %>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">鑑定結果</button>
    </form>
  </div>
  <div class="col-sm-3">
    <div id="sidebar">
      <ul class="nav">
	<li>メニュー</li>
	<li>メニュー</li>
	<li>メニュー</li>
	<li>メニュー</li>
	<li>メニュー</li>
      </ul>
    </div>
  </div>
</div>
