<div class="row">
<!--  <div class="col-sm-9">-->
    <h1 class="page-header">手相鑑定</h1>
    <form method="post" action=<%= result_path %>>
      <h3>名前</h3>
      <p>あなたの名前を入力して下さい。</p>
      <input type="text" class="form-control" name="uname" placeholder='(例)大城佳明' required='true'><br />

      <h3>性別</h3>
      <%= render partial: "radio_button", locals: { name: "sex", list: ['男性', '女性'] } %>

      <h3>婚期</h3>
      <select multiple class="form-control" name="marriageable[]">
	<% for i in 18...50 do %>
	  <option value=<%= i %>><%= i %> 歳</option>
	<% end %>
      </select>

      <div id="click-descriptiono">
	<p>手相の特徴をすべて選択し、鑑定結果をクリックして下さい。
	  <br><span id="radio-info">　</span>１つ選択  <span id="check-info">　</span>複数選択可</p>
      </div>
      <h3>感情線 <small>- 恋愛 -</small></h3>
      <%= render partial: "radio_button", locals: { name: "love", list: ['唐突な恋愛', '落ち着いた恋愛', '消極的な恋愛', '情が深い', '相手の気持ちになれる', '一途な恋愛'] } %>
      <%= render partial: "check_box", locals: { name: "love_etc", list: ['人を幸せにする', '数多くの恋愛をする', 'おっとりタイプ'] } %>

      <h3>生命線 <small>- 健康 -</small></h3>
      <%= render partial: "radio_button", locals: { name: "life", list: ['生命力は強い', '生命力は弱くない', '病気になりやすい'] } %>
      <%= render partial: "radio_button", locals: { name: "life_etc", list: ['海外など遠くに住む', 'いろいろなところに行く', '地元に残る'] } %>

      <h3>頭脳線 <small>- 思考 -</small></h3>
      <%= render partial: "radio_button", locals: { name: "brain", list: ['論理的に考える', '感覚的に捉える', 'なんても平均的にできる', '直感タイプ','ますかけ線'] } %>
      <%= render partial: "radio_button", locals: { name: "brain_life", list: ['常識がある', '慎重派', '行動派', '疑心暗鬼'] } %>
      <%= render partial: "check_box", locals: { name: "brain_etc", list: ['能力が高い', '努力家'] } %>


      <h3>木星丘 <small>- 権力 -</small></h3>
      <%= render partial: "check_box", locals: { name: "jupiter", list: ['社会的に成功したい', 'リーダータイプ'] } %>

      <h3>太陽丘 <small>- 出世 -</small></h3>
      <%= render partial: "radio_button", locals: { name: "sun", list: ['地道な努力', '才能を活かして出世', '才能を活かしきれてない'] } %>
      <%= render partial: "check_box", locals: { name: "sun_etc", list: ['魅力的な人'] } %>

      <h3>水星丘 <small>- 金運 -</small></h3>
      <%= render partial: "radio_button", locals: { name: "mercury", list: ['お金に困ってる', 'お金は入るが出て行く', 'お金には困ってない'] } %>

      <h3>金星丘 <small>- 生命力 -</small></h3>
      <%= render partial: "check_box", locals: { name: "venus", list: ['徳がある', '情が深い'] } %>

      <h3>月丘 <small>- 人気 -</small></h3>
      <%= render partial: "check_box", locals: { name: "moon", list: ['好かれやすい', '疲れがたまってる'] } %>

      <h3>病気関係</h3>
      <%= render partial: "check_box", locals: { name: "illness", list: ['呼吸器系に負担', '循環器系に負担', '頭関係の病気', '目への負担', '消化器科に負担', '腎臓・肝臓に負担'] } %>

      <h3>手の開き</h3>
      <%= render partial: "check_box", locals: { name: "hand_shape", list: ['浪費家', '伝えるのが上手'] } %>

      <h3>人生の流れ</h3>
      <%= render partial: "radio_button", locals: { name: "life_flow", list: ['家族からの支援', '周りからの支援', '自分の道は自分で切り拓く'] } %>
      <br>
      <button type="submit" class="btn btn-primary">鑑定結果</button>

    </form>
  </div>
<!--
  <div class="col-sm-3">
    <div id="sidebar">
      <ul class="nav">
      </ul>
    </div>
  </div>
-->
</div>
