<h1>鑑定結果</h1>
<h3>恋愛／能力</h3>
<p>
  <% if @love then %>
    <%= @love.html_safe %>
  <% end %>
  <% if @love_etc_happy then %>
    <%= @love_etc_happy.html_safe %>
  <% end %>
  <% if @love_etc_many then %>
    <%= @love_etc_many.html_safe %>
  <% end %>
  <% if @love_etc_slow then %>
    <%= @love_etc_slow.html_safe %>
  <% end %>
  <% if @sun_etc then %>
    <%= @sun_etc_charm.html_safe %>
  <% end %>
  <% if @brain_life then %>
    <%= @brain_life.html_safe %>
  <% end %>
  <% if @brain_etc_hardworker then %>
    <%= @brain_etc_hardworker.html_safe %>
  <% end %>
  <% if @jupiter_social then %>
    <%= @jupiter_social.html_safe %>
  <% end %>

  <% if @sun_not then %>
    <%= @sun_not.html_safe %>
  <% end %>
  <% if @brain then %>
    <%= @brain.html_safe %>
  <% end %>
  <% if @brain_etc_genius then %>
    <%= @brain_etc_genius.html_safe %>
  <% end %>
  <% if @jupiter_reader then %>
    <%= @jupiter_reader.html_safe %>
  <% end %>
  <% if @life_etc then %>
    <%= @life_etc.html_safe %>
  <% end %>
  <% if @sun and @mercury then %>
    <%= @mercury.html_safe %>
  <% end %>
  <% if @sun then %>
    <%= @sun.html_safe %>
  <% end %>



  <% if @life then %>
    <%= @life.html_safe %>
  <% end %>

</p>
