<h1>Palmistry#result</h1>
<p>Find me in app/views/palmistry/result.html.erb</p>
<p>love = <%= @love %></p>
<p>love_etc = <%= @love_etc %></p>
<p>life = <%= @life %></p>
<p>life_etc = <%= @life_etc %></p>
<p>brain = <%= @brain %></p>
